/*all*/
body {
  color: #909090;
  background-color: #E3E3E3;
}

.color90 {
  color: #909090 !important;
}
.colorbb
{
  color: #BBBBBB !important;
}
.color57
{
  color: #575757 !important;
}
.text-pink
{
    text-decoration: none;
    color: #ff3190 !important;
}
.colorpink:hover,
.colorpink
{
  text-decoration: none !important;
  color: #ff3190 !important;
}
.bg-pink
{
    color: #fff;
    background: #ff3190 !important;
}
.colorwhite
{
    color: rgba(255,255,255,.4);
}
.colorwhite:hover
{
    text-decoration: none;
    transition: .5s;
    color: rgba(255,255,255,1);
}
.btn-pink:hover,
.btn-pink
{
    color: #fff;
    background-color: #ff3190;
}
.colorpink
{
    color: rgba(255,49,144,.4);
    text-decoration: none;
}
.colorpink:hover
{
    text-decoration: none;
    transition: .5s;
    color: rgba(255,49,144,1);
}





/*navbar*/
.navbar-toggler-icon,
.navbar-light .navbar-nav .dropdown-nav:hover,
/*section*/
.breadcrumb-item-home
/*sdebar*/
{
  color: #ff3190;
}
.list-group-item:hover,
.list-group-item.activecycle
{
  color: #ff3190 !important;
}
.card
{
  border-radius: 8px;
}






 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.sidebar {
    box-shadow: inset 0 0 0 rgba(0,0,0,0.1),
                      0.1em 0.1em 2em rgba(0,0,0,0.1) ;
}

/*navbar*/

.domain {
  font-weight: 200px;
  color: #ff3190 !important;
}

span.badge-bronze
{
  background-color: #FFE5F1;
  color: #ff3190 !important;
}


/*index*/
.btn-domain {
  margin-right: 10px;
  margin-top: -45px;
}

.input-domain {
  height: 50px;
}

.card-domain
{
  border-radius: 10px;
  min-height: 350px;
}
.list-container {
  padding: 1em;
  width: 280px;
  font-family: 'FontSite Sans', sans-serif;
  background: white;
}
.list-container h1 {
  font-size: 1em;
}

ul.scale-up-hover-list {
  padding-left:.1em;
  width: 95%;
  list-style-type: none;
}

.scale-up-hover-list li {
  margin: 0;
  padding: .75em;
  background-color: white;
  border-top: none;
  border-right: 0 solid #eee;
  border-bottom: .05em solid #eee;
  border-left: .15em solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.scale-up-hover-list li::after {
  content: "";
  display: block;
  clear: both;
}

.scale-up-hover-list li:hover {
  border-top: none;
  border-right: .1em solid #eee;
  border-bottom: .1em solid #eee;
  border-left: .2em solid #621e66;
  -webkit-transform: translate3d(0,0,0,);
  transform: translate3d(0,0,0,);
  -webkit-transform: scale(1.025, 1.025);
  -moz-transform: scale(1.025, 1.025);
  -o-transform: scale(1.025, 1.025);
  -ms-transform: scale(1.025, 1.025);
  transform: scale(1.025, 1.025);
}

.scale-up-hover-list li .date {
  float: left;
  margin-right: 1em;
  max-width: 20%;
  text-align: center;
}
.scale-up-hover-list li .date .day {
  display: block;
  margin: .25em 0 0;
  color: #621e66;
  font-size: 1.5em;
  line-height: .75em;
  font-weight: 800;
}
.scale-up-hover-list li .date .month {
  display: block;
  margin: .005em 0;
  color: #621e66;
  font-size: 0.8em;
  font-weight: 200;
}
.scale-up-hover-list li .item-info-container {
  float: left;
  width: 100%;
  max-width: 100%
}
.scale-up-hover-list li .item-info-container h1 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
  font-size: .9em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.scale-up-hover-list li .item-info-container p.item-description {
  display: block;
  margin: 0;
  margin-top: .05em;
  width: 100%;
  color: #555;
  font-size: 0.75em;
}
.scale-up-hover-list li .item-info-container h1:hover {
  color: #621e66;
}




/*theme*/

/*theme-update*/

.card-theme
{
  border-radius: 7px;
}
p
{
  color: #e1e1e1;
}
.theme-input
{
  width: 200px !important;
  background-color: #F2F2F2 !important;
}
.btn-theme
{
  margin-left: 220px;
  margin-top: -65px;
  color: #FF3190;
}
.theme-badge
{
  background-color: #eeeeee;
}
.card .theme-icon
{
  font-size: 300%;
  width: 100%;
}
.theme-card
{
  height: 100px;
}
.theme-card p
{
  color: #FF3190;

}



/*gift */
.gift-card
{
  min-height: 150px;
}
.gift-card-2
{
  background-color: #fff;
}
.gift-card-2 div p,
.gift-card-2 div h5
{
    color: #909090 !important;
}
.gift-terkumpul
{
  color: #FF3190;
}
.gift-dompet
{
  color: #5AFF31;
}
.gift-image
{
  height: 100%;
}
.clearfix p,
h5
{
  color: white;
}
button.gift-button,
a.gift-button
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;
    transition: 0.5s;
    background-color: rgba(255, 0, 85,0.4);
  /*color: #fff;
  border: 1px solid #fff;
  background: transparent;*/
}
.gift-button:hover
{
  color: #fff;
}
.gift-button span
{
    display: block;
    position: absolute;
    background: #fff;
}
.gift-button span:nth-child(1)
{
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.gift-button:hover span:nth-child(1)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;   
}
.gift-button span:nth-child(2)
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.gift-button:hover span:nth-child(2)
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;   
}

.gift-button span:nth-child(3)
{
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.gift-button:hover span:nth-child(3)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s; 
    transition-delay: 0.5s;  
}


.gift-button span:nth-child(4)
{
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;  
}
.gift-button:hover span:nth-child(4)
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;   
    transition-delay: 0.5s;  
}














/*tamu*/
.tamu-menejemen
{
  background: #FFE5F1;
  width: 30px;
}
.tamu-icon
{
  color: #FF3190;
}
.tamu-card
{
  height: 450px;
}
.tamu-button
{
  border-radius: 8px;
  color: rgba(255,255,255,.5);
  border: 1px solid #fff;
  background: #FF3190; 
}
.tamu-button:hover
{
    transition: .5s;
    color: rgba(255,255,255,1);
}
.tamu-button-2
{
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 8px;
}
.tamu-button-3
{
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px; 
}
.tamu-button-2:hover,
.tamu-button-3:hover,
.tamu-button-4:hover
{
  color: #FF3190;
}
.tamu-tambah
{
  min-height: 100px;
}


/*beranda*/
.card-title
{
  margin-top: -50px;
}
.card-img-top
{
  height: 200px;
}
.beranda-update:hover
{
  color: #909090;
}
.beranda-hr
{
  margin-top: -10px;
}
.beranda-text
{
  color: #FF3190;
}
.beranda-text a
{
  font-weight: bold;
}
.beranda-text a:hover
{
  color: #FF3190;
}
.beranda-tamu-header
{
  margin-bottom: 1px;
}
.tamu-icon-table
{
  margin-left: 5px;
}
.tamu-icon-user
{
  margin-left: 7px;
}
.beranda-cupon
{
  margin-top: -25px;
}




/*package*/
.title-package
{
  color: #8F8F8F;
}
.title-card
{
  color: #888888;
}
.text-card
{
  font-size: 15px;
  font-weight: 10;
  font-weight: bold;
  color: #888888;
}
.text-desc
{
  color: #C0C0C0;
}
.btn-package
{
  border-radius: 8px;
  color: #fff;
  background-color: #FF3190;
}
.btn-package:hover
{
  background-color: #ff0075;
}
.form-input .file{
  border: 1px solid red !important;
  /*display:none;*/
}
.form-input label {
  display:block;
  width:100%;
  height:50px;
  line-height:50px;
  text-align:center;
  /*background:#333;*/
  color:#909090;
  opacity: 0.2;
  font-size:200px;
  font-weight:600;
  border-radius:10px;
  cursor:pointer;
  border-radius: 0px;
  transform: translateY(120%);
}
.form-input img {
  border-radius: 8px;
  background-size: cover;
  width:100%;
  display:none;
  transform: translateY(-38%);
}
.card-image
{
  height: 170px ;
}

.inner .form-row .form-holder input, .inner .form-row .form-holder select {
  border: 1px solid #DDDDDD;
  margin-top: 20px;
  border-radius: 10px;
}
.input-pengantin-ibu
{
  width: 48% !important;
}

.card-pink
{
  border: 1px solid #FF3190;
}
.card-abu
{
  border: 1px solid #909090;
}
.btn-acara
{
  background: transparent;
  border: 1px solid #FF3190;
}
.btn-acara:hover
{
  transition: 0.5s;
  color: #fff;
  background-color: #FF3190;
}
.img-tema
{
  height: 250px;
}
.btn-tema
{
  width: 150px;
  border-radius: 100px;
  margin-left: 20px;
  margin-top: -90px;
  color: #fff;
  background-color: #FF3190;
}
.btn-tema:hover
{
  background-color: #ff0075; 
}
.input-control
{
  border-top-right-radius: 0 !important; 
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
  height: 50px;
  border: 1px solid #f1f1f1;
  width: 75% !important;
}
.btn-check
{
  border-top-right-radius: 8px !important; 
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  margin-top: 20px;
  height: 50px;
  width: 25% !important;
}
.card-1
{
  width: 48%;
}
.text-rp
{
  margin-top: -25px;
}
.img-card
{
  left: 50% !important;
}
.btn-modal-tidak
{
  color: #FF3190;
  background: transparent;
  border: 1px solid #FF3190;
}
.btn-modal-tidak:hover
{
  transition: 0.4s;
  background: #FF3190;
  color: #fff;
}
.danger
{
  font-size: 100px;
}



/*login*/
#section-login
{
  background-color: #f2f2f2;
  height: 90vh;
}
.btn-login
{
  width: 100%;
  background: #ff3190;
  color: #fff;
}
.link-daftar
{
  color: #ff3190;
}
.link-daftar:hover
{
  color: #ff0075;
}




/*daftar*/
.daftar-1
{
  width: 45% !important;
}





/*main*/
.coupon-list
{
  text-align: center;
  width: 150px;
  background: transparent;
  color: #575757;
  border: 2px solid #575757;
}
.coupon-list:hover
{
  transition: 0.3s;
  background-color: #575757;
}
header
{
  height: 100vh;
  padding: 10px 0px 165px;
  background-image: url(../img/website-background.jpg);
  background-position: center;
  background-size: cover; 
}
.name-1
{
  margin-top: 50px;
  margin-right: 120px !important;
}
.name-2
{
  margin-top: -40px;
  margin-left: 160px !important;
}
.and
{
  font-size: 100px;
  margin-top: -60px;
}
.main-menu
{
  text-decoration: none !important;
  color: rgba(87,87,87,0.4);
}
.main-menu:hover,
.menu-active
{
  color: #575757;
}
.main-text
{
  margin-top: 40px !important;
  font-size: 50px;
}
.question button
{
  cursor: pointer;
  justify-content: flex-end;
  margin-top: -15px !important;
  margin-right: 40px !important; 
  font-size: 25px;
}
.question a
{
  color: #575757;
}
.border-top1
{
  border: 4px solid #909090;
}
.question button:focus
{
  border-radius: !important;
  background-color: transparent !important;
}


/*virtual*/
.section-stats
{
  margin-top: 20px;
}
.section-stats .stats-detail
{
  padding-top: 15px;
  background-color: #5C5451;
  padding-left: 40px;
}
.section-stats h2
{
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p
{
  font-size: 20px;
  font-weight: lighter;
}
.circle
{
  height:10px;
  width: 10px;
  background-color: red;
  border-radius: 100%;
}
.virtual-desc
{
  color: rgba(87,87,87,0.6);
}
.btn-joinnow
{
  width: 200px;
  height: 50px;
  color: #fff !important;
  background-color:  #575757;
}
.btn-joinnow:hover
{
  background-color: #333333;
}
#section-virtual
{
  padding-top: 70px;
}


/*couple*/
.couple-text
{
  color: #E0E0E0;
}
#section-couple
{
  margin-top: 50px !important;
}



/*checkbox*/
/*transition*/
 /**,*:before,*:after{
box-sizing:border-box;

-webkit-transition:.25s ease-in-out;
   -moz-transition:.25s ease-in-out;
     -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out;
outline:none;
}*/
#toggles{
width:60px;
margin:50px auto;
text-align:center;
}
.ios-toggle,.ios-toggle:active{
position:absolute;
height:0;
width:0;
opacity:0;
border:none;
outline:none;
}
.checkbox-label{
display:block;
position:relative;
padding:10px;
margin-bottom:20px;
font-size:12px;
line-height:16px;
width:100%;
height:36px;
/*border-radius*/
-webkit-border-radius:18px;
   -moz-border-radius:18px;
        border-radius:18px;
background:#f8f8f8;
cursor:pointer;
}
.checkbox-label:before{
content:'';
display:block;
position:absolute;
z-index:1;
line-height:34px;
text-indent:40px;
height:36px;
width:36px;
/*border-radius*/
-webkit-border-radius:100%;
   -moz-border-radius:100%;
        border-radius:100%;
top:0px;
left:0px;
right:auto;
background:white;
/*box-shadow*/
-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
   -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
content:attr(data-off);
display:block;
position:absolute;
z-index:0;
top:0;
left:-300px;
padding:10px;
height:100%;
width:300px;
text-align:right;
color:#bfbfbf;
white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px rgba(255, 49, 144,1),0 0 0 2px rgba(255, 49, 144,1);
   -moz-box-shadow:inset 0 0 0 20px rgba(255, 49, 144,1),0 0 0 2px rgba(255, 49, 144,1);
        box-shadow:inset 0 0 0 20px rgba(255, 49, 144,1),0 0 0 2px rgba(255, 49, 144,1);
}
.ios-toggle:checked + .checkbox-label:before{
left:calc(100% - 36px);
/*box-shadow*/
-webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
   -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
        box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
content:attr(data-on);
left:60px;
width:36px;
}
/* GREEN CHECKBOX */

#checkbox1 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px rgba(255, 49, 144,1),0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px rgba(255, 49, 144,1),0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px rgba(255, 49, 144,1),0 0 0 2px #dddddd;
}
#checkbox1:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 18px rgba(255, 49, 144,1),0 0 0 2px rgba(255, 49, 144,1);
   -moz-box-shadow:inset 0 0 0 18px rgba(255, 49, 144,1),0 0 0 2px rgba(255, 49, 144,1);
        box-shadow:inset 0 0 0 18px rgba(255, 49, 144,1),0 0 0 2px rgba(255, 49, 144,1);
}
#checkbox1:checked + .checkbox-label:after{
color:rgba(255, 49, 144,1);
}
.toogle-gift:hover,
.toogle-gift
{
    text-decoration: none;
    color: #ff3190;   
}




/*gift-index*/
#section-gift-index
{
  margin-top: 100px;
}
.form-gift .form-rp
{
  height: 50px;
}
.btn-sendgift
{
  color: #fff;
  background-color: #575757 !important;
}




/*guestbook*/
#section-guesbook
{
  width: 40%;
}
.guest-textarea
{
  min-height: 140px !important;
}
.form-guesbook
{
  width: 300px !important;
}
.btn-comment
{
  color: #fff;
  background-color: #3E3E3E;
}
.btn-comment:hover
{
  transition: 0.3s;
  background-color: #333333; 
}
#section-book
{
  height: 100vh;
  background-color: #F4F4F4;
}
.text-book
{
  font-weight: 500;
  font-size: 20px;
}
.text-book-time
{
  color: #B9B9B9 !important;
  margin-top: 22px !important;
  font-weight: 500;
  font-size: 15px;
}
.guest-desc
{
  color: #9D9C9C;
}

.header-wedding h1
{
    font-weight: bold;
}

.name_female,
.dan,
.name_male
{
    margin-top: -20px;
    font-weight: 200;
    font-size: 40px;
}

.btn-stream
{
    color: white;
    background-color: #ff3190;
}




.user-sidebar-menu a
{
    text-decoration: none;
}
.user-sidebar-menu a:hover
{
    text-decoration: none;
    color: #ff3190 !important;
}



.book-nama
{
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #ff3190;
    border-radius: 8px;
    color: #ff3190;
}
.book-nama:hover
{
    transition: .5s;
    text-decoration: none;
    background: rgba(255, 49, 144,1);
    color: #fff;
}
.book-presskey
{
    color: #ff0075;
}
.badge-book
{
    border-radius: 10px 10px;
    padding: 5px 10px;
    background: rgba(71, 255, 90,.7);
    color: rgba(90,90,90,1);
}
.book-layar
{

    padding: 5px 10px;
    border: 1px solid #909090;
    border-radius: 8px;
    background: transparent;
    text-decoration: none !important;
    color: #909090;
}
.book-layar:hover
{
    transition: .5s;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #909090;
    border-radius: 8px;
    background: transparent;
    color: #000;
}
@media (min-width: 992px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.truncate { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}