#target {
    position: absolute;
    bottom: 1.5rem;
    /* width: 100%;
    overflow: auto; */
    background: #F2F2F2;
    left: 0;
    right: 0;
    padding: .5rem 2.5rem;
}

.jqp-pages li { 
    padding: .5rem 1rem;
    background: darkgrey;
    margin: .5rem !important;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

.jqp-pages .jqp-active { 
    font-weight: bold;
    background: grey;
}

.over-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
}